@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/gagalin-web/Gagalin-Regular.woff2') format('woff2'),
         url('../fonts/gagalin-web/Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-web/Ubuntu-B.woff2') format('woff2'),
         url('../fonts/ubuntu-web/Ubuntu-B.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-web/Ubuntu-Light.woff2') format('woff2'),
         url('../fonts/ubuntu-web/Ubuntu-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}


@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-web/Ubuntu-Medium.woff2') format('woff2'),
         url('../fonts/ubuntu-web/Ubuntu-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}


@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-web/Ubuntu-Regular.woff2') format('woff2'),
         url('../fonts/ubuntu-web/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lifehackmedium';
    src: url('../fonts/lifehack/LifehackMedium.woff2') format('woff2'),
         url('../fonts/lifehack/LifehackMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
