.members__list {
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}

.members__item {
    width: 25%;
    height: 50%;
    position: relative;

    @include tablets {
        width: 50%;
        height: 25%;
    };

    &:hover .members__desc {
        opacity: 1;
    }
}

.img-block {
    height: 100%;
}

.members_pic {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
}

.members__desc {
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    padding: 10% 5%;
    opacity: 0;
    transition: 0.3s;
    max-width: 100%;
    max-height: 100%;

    @include  tablets {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 0 11%;
    };
}

.members__name {
    margin-bottom: 5%;
    font-family: 'Gagalin';
    color: $commonColor;

    @include  tablets {
        font-size: rem(14px);
    }

    @include  phones {
        font-size: rem(24px);
        text-align: center;
    }
}

.members__review {
    p {
        font-family: 'ubuntulight';
        color: $commonColor;
        font-size: rem(12px);
        line-height: 1.714em;

        @include tablets {
            text-align: center;
        };

        @include phones {
            display: none;
        };
    }
}

button.members__btn {
    margin-top: 5%;
    border: none;
    background-color: $dark;
}

.modal-review {
    position: fixed;
    background-color: rgba(47, 50, 52, .9);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    display: none;

    @include tablets {
        padding: 0 20px;
    };
}

.modal-review--active {
    display: flex;
}

.modal-review__block {
    display: flex;
    flex-flow: column;
    background-color: $commonColor;
    border-radius: 5px;
    padding: 20px;
    max-width: 460px;
}

.review__name {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: 'Gagalin';
    color: $dark;
}

.close-rewiew {
    width: 20px;
    height: 20px;
    fill: $red;
}

.review__description {
    font-family: 'ubunturegular';
    font-size: 14px;
    line-height: 1.7em;
    color: $dark;
}
