.pagination {
    position: fixed;
    right: rem(50px);
    top: rem(90px);
    z-index: 999;

    @include tablets {
        display: none;
    };
}

.pagination__list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    list-style: none;
    color: $commonColor;
    justify-content: center;
    max-width: rem(30px);
    align-items: center;
}

.pagination__item {
    margin: 0 0 rem(10px);
    &:last-child {
        margin: 0;
    }
}

.radio {
    width: rem(14px);
    height: rem(14px);
    border-radius: 50%;
    border: 1px solid $commonColor;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner_radio {
    position: absolute;
    background-color: $commonColor;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.wrap {
    position: relative;
    width: rem(14px);
    height: rem(14px);
    border: 1px solid transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
