.recipe-section {
    background: url("../images/second-section.png") top center no-repeat;
    background-size: cover;
}

.recipe {
    max-width: rem(940px);
    margin: 0 auto;
//    min-height: 650px;
    display: flex;
    flex-flow: column;
    align-items:center;
}

.recipe-heading {
    padding: rem(100px) 0 rem(60px);
    color: $dark;
    margin: 0;

    @include phones {
        font-size: rem(50px);
    }
}
