.section-form {
    position: relative;
    background: url('/images/form-cover.png') center center / cover no-repeat;

}

.container-form {
    max-width: rem(940px);
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: rem(130px);

    @include tablets {
        padding-top: rem(65px);
    };

    @include phones {
        padding-top: rem(30px);
    };
}

.banner__heading--order {
    text-align: center;
}
