.main-banner {
  max-width: 892px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px; }

.banner {
  max-width: 435px; }

.banner__img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.banner__text {
  padding: 60px 20px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.banner__heading {
  font-size: 72px;
  color: #f9b43b;
  font-family: 'Gagalin';
  margin-bottom: 30px; }

.banner__desc {
  font-family: 'lifehackmedium';
  color: white;
  font-size: 48px;
  line-height: 1; }
